* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

.main-layout {
  min-height: 100vh;
}

.content-layout {
  flex: 1 1 auto;
}

.header-btn {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.vert-bar {
  width: 1px;
  height: 30px;
  background-color: #2b2727;
}

.menu-title {
  text-align: center;
}

.ant-card {
  .ant-card-body {
    padding: 12px;
  }
}

.ant-card-cover.ant-card-cover {
  margin: 0;
}

.cart-container {
  display: flex;
  flex: 1 1 auto;
  padding: 0px 24px;
}

.cart-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 320px;
}

.inputs-wrapper {
  flex: 1 1 auto;
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 420px;
  max-height: calc(100vh - 168px);
  overflow-y: hidden;

  .cart-total {
    text-align: center;
  }
}

.cart-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;

  .cart-items {
    display: flex;
    flex-direction: column;
  }

  .cart-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
  }
}
